Source: evdaemon
Section: utils
Priority: extra
Maintainer: Tuomas Räsänen (tuos) <tuos@codegrove.org>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, libudev-dev
Standards-Version: 3.8.3
Homepage: http://codegrove.org/evdaemon/

Package: evdaemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Monitor Linux event devices and modify their behavior.
 The Code Grove evdaemon program is syndaemon on steroids. It is to Linux
 generic event devices what syndaemon is for just keyboards and touchpads.
 It allows to monitor any event device and change other event device's
 behavior accordingly.
 .
 The evdaemon program was originally written for laptops having touchpads
 not recognized as Synaptics touchpads.
